<div class="my-3 bg-white shadow-sm rounded-sm">
    <h6 class="p-3 mb-0 border-bottom border-gray">
      <i class="fas fa-cog"></i> Services
    </h6>
    <div class="px-3 pb-1">
      {% for section in site.data.services %}
        <div class="mb-2">
          <strong>{{ section.category }}</strong>
          <ul class="mb-0">
            {% for item in section.items %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
  